@page
@model HimalayanOnlineHotelBooking.Pages.Hotel.Account.SuccessPageModel
@{
}
<div class="success-container">
    <i class="fas fa-check-circle success-icon"></i>
    <h1 class="success-message">Success!</h1>
    <p class="success-text">Your account has been created successfuly please go back to login</p>
    <a href="/" class="success-button">Go Back to Homepage</a>
</div>