@page
@model HimalayanOnlineHotelBooking.Pages.Hotel.AboutUsModel
@{
}

<body>
    
        <div class="container">
        <div class="info-hotel">
            <h1 class="l-heading"> <span class="text-primary">About</span> Our Hotel </h1>
            <p>
                The Himalayan Hotel is a modern, elegant 4-star hotel overlooking the sea, perfect for a romantic, charming vacation, in the enchanting setting of Netherlands and the North Sea.
                The rooms at the Himalayan Hotel are new, well-lit and inviting. Our reception staff will be happy to help you during your stay in Netherlands, suggesting itineraries, guided visits and some good restaurants in the historic centre.
                While you enjoy a cocktail by the swimming pool on the rooftop terrace, you will be stunned by the breathtaking view of the bay of North Sea. Here, during your summer stays, our bar serves traditional dutch dishes, snacks and salads.
                At the end of a stairway across from the hotel, the white pebbles on the beach of North Sea await you as well as beach facilities with lounge chairs and umbrellas and areas with free access to the pristine clear sea that becomes deep just a few metres from the shore.
            </p>
        </div>
        <div class="info-image">
            <img src="~/img/aboutUs.jpg" alt="Hotel">
        </div>
        </div>
   
    
</body>
