@page
@model HimalayanOnlineHotelBooking.Pages.Hotel.SuccessPageModel
@{
}
<div class="success-container">
    <i class="fas fa-check-circle success-icon"></i>
    <h1 class="success-message">Success!</h1>
    <p class="success-text">We have received your message successfully. Thank you for contacting us. We will get back to you as soon as possible.</p>
    <a href="/" class="success-button">Go Back to Homepage</a>
</div>